/nbproject/private/
/Teleconsulta-war/nbproject/private/
/Teleconsulta-ejb/nbproject/private/
/Teleconsulta-ejb/build/
/Teleconsulta-ejb/dist/
/Teleconsulta-war/build/
/build/
/Teleconsulta-war/dist/